@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap");
@font-face {
  font-family: "Satoshi-Bold";
  src: url("../font-text/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("../font-text/fonts/Satoshi-Bold.woff") format("woff"),
    url("../font-text/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/* Typography */
h1 {
  font-size: 104px;
  text-transform: uppercase;
  word-break: break-word;
  ._lg {
    font-size: 1.36em;
    text-transform: lowercase;
    font-style: italic;
  }
}
h2 {
  font-size: 112px;
  &._sm {
    font-size: 104px;
  }
}
h3 {
  font-size: 60px;
  &._lg {
    font-size: 78px;
  }
  &._sm {
    font-size: 50px;
  }
}
h4 {
  font-size: 42px;
  &._extra-lg {
    font-size: 48px;
  }
  &._lg {
    font-size: 46px;
  }
  &._sm {
    font-size: 32px;
  }
  &._extra-sm {
    font-size: 29px;
  }
}
h5 {
  font-size: 22px;
  &._extra-lg {
    font-size: 26px;
  }
  &._lg {
    font-size: 24px;
  }
  &._sm {
    font-size: 20px;
  }
  &._extra-sm {
    font-size: 18px;
  }
}
h6 {
  font-size: 12px;
  &._extra-lg {
    font-size: 16px;
  }
  &._lg {
    font-size: 14px;
  }
  &._sm {
    font-size: 10px;
  }
  &._extra-sm {
    font-size: 8px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: 700;
  line-height: 1.2em;
}

p {
  font-size: 20px;
  line-height: 1.6em;
  font-weight: 400;
  &._sm {
    font-size: 18px;
  }
}
@mixin typography-1280 {
  h1 {
    font-size: 90px;
  }
  h4 {
    &._lg {
      font-size: 42px;
    }
  }
}
@mixin typography-1160 {
  h4 {
    &._lg {
      font-size: 38px;
    }
  }
  p {
    font-size: 18px;
  }
}
@mixin typography-1025 {
  h1 {
    font-size: 80px;
    ._lg {
      font-size: 1.2em;
    }
  }
  h4 {
    &._lg {
      font-size: 35px;
    }
  }
  h5 {
    &._extra-sm {
      font-size: 16px;
    }
  }
  p {
    font-size: 16px;
    &._sm {
      font-size: 16px;
    }
  }
}
@mixin typography-940 {
  h1 {
    font-size: 70px;
  }
  h4 {
    &._lg {
      font-size: 32px;
    }
  }
}
@mixin typography-840 {
  h1 {
    font-size: 60px;
  }
  h5 {
    &._extra-sm {
      font-size: 14px;
    }
  }
}
@mixin typography-768 {
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 14px;
    &._sm {
      font-size: 14px;
    }
  }
  h5 {
    &._extra-sm {
      font-size: 12px;
    }
  }
}
@mixin typography-390 {
  h1 {
    ._lg {
      font-weight: 500;
    }
  }
  p {
    font-size: 12px;
    &._sm {
      font-size: 12px;
      line-height: 1.5em;
    }
  }
  h5 {
    &._extra-sm {
      font-size: 10px;
    }
  }
}
