$primary: #ce4fba;
$secondary: #66eba9;
$black: #000000;
$black-2: #484848;
$black-3: #2d2d2d;
$black-4: #0d0d0d;
$black-5: #161616;
$black-6: #1f1d23;
$black-7: #191919;
$black-8: #0c0d0e;
$black-9: #4a4b4f;
$black-10: #0e1013;
$black-11: #141414;
$black-12: #111721;
$black-13: #1E1E1E;
$white: #fff;
$white-2: rgba(#fff, 0.6);
$white-3: #ccd3d9;
$white-4: #dddeeb;
$white-5: #bababa;
$green: #66eba9;
$green-2: #18ed86;
$gray: #dcdcdc;
$gray-2: #9c9ca4;
$gray-3: #757575;
$blue: #0d3bfa;
$blue-2: #6381ff;
$orange: #ff7324;

$gradient: linear-gradient(90deg, #66eba9, #6381fd, #ce4fba, #fa5561);
$gradient-2: linear-gradient(90deg, #ce4fba, #fa5561);
$gradient-3: linear-gradient(90deg, #66eba9, #6381fd);
$gradient-4: linear-gradient(180deg, #66eba9 0%, #fa5561 100%);

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Outfit", sans-serif;
$font-jakarta: "Plus Jakarta Sans", sans-serif;
$font-satoshi: "Satoshi-Bold", sans-serif;
