$primary: #ce4fba;
$secondary: #66eba9;
$black: #000000;
$black-2: #484848;
$black-3: #2d2d2d;
$black-4: #0d0d0d;
$black-5: #161616;
$black-6: #1f1d23;
$black-7: #191919;
$black-8: #0C0D0E;
$white: #fff;
$white-2: rgba(#fff, 0.6);
$white-3: #ccd3d9;
$white-4: #dddeeb;
$white-5: #BABABA;
$green: #66eba9;
$green-2: #18ED86;
$gray: #dcdcdc;
$gray-2: #9c9ca4;
$gray-3: #757575;
$blue: #0d3bfa;

$gradient: linear-gradient(90deg, #66eba9, #6381fd, #ce4fba, #fa5561);
$gradient-2: linear-gradient(90deg, #ce4fba, #fa5561);
$gradient-3: linear-gradient(90deg, #66eba9, #6381fd);
$gradient-4: linear-gradient(180deg, #66eba9 0%, #fa5561 100%);

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Outfit", sans-serif;
$font-jakarta: "Plus Jakarta Sans", sans-serif;
$font-satoshi: "Satoshi-Bold", sans-serif;
