.hero {
  position: relative;
  padding: 244px 0 32px;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 80px;
    &-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 46px;
      position: relative;
    }
    &-box {
      display: flex;
      flex-direction: column;
      gap: 24px;
      p {
        max-width: 400px;
      }
    }
    &-tabs {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 60px;
    }
    .video {
      position: absolute;
      right: 5%;
      bottom: 0;
    }
  }
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    &-image {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &._blur {
        position: relative;
        &::after {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.74);
          backdrop-filter: blur(15px);
        }
      }
      &._sm {
        z-index: 2;
        width: 80%;
        height: 60%;
      }
    }
  }
  .button {
    &--primary {
      text-transform: uppercase;
    }
  }
  h1 {
    line-height: 1em;
  }
}
.sponsors {
  padding-bottom: 100px;
  position: relative;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 170px;
    &-image {
      width: 90%;
      height: 128px;
      max-width: 1146px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 80px;
      overflow: auto;
      padding: 0 60px;
    }
  }
  &Item {
    &__image {
      width: 150px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
    @include transition;
    &:hover {
      transform: scale(0.9);
    }
  }
  .bubles {
    &__shape {
      top: -100px;
      right: -200px;
      background: linear-gradient(222deg, #66eba9, #6381fd, #ce4fba, #fa5561);
    }
  }
}
.about {
  padding: 100px 0;
  position: relative;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .video {
      width: calc(62% - 15px);
      margin: -30px 0 0 -160px;
      .ratioImage {
        padding-bottom: 71%;
        width: 99%;
      }
    }
    &-image {
      width: calc(62% - 15px);
      margin: -30px -160px 0 0;
      border-radius: 98px 0 0 35px;
      overflow: hidden;
      .ratioImage {
        padding-bottom: 58%;
        width: 100%;
      }
    }

    &-content {
      width: calc(46% - 15px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
    }
    &-box {
      display: flex;
      flex-direction: column;
      gap: 25px;
      h4 {
        letter-spacing: -1.8px;
      }
      p {
        color: $white-2;
        line-height: 1.8em;
        letter-spacing: -0.6px;
      }
    }
  }
  .bubles {
    &__shape {
      right: unset;
      top: unset;
      &._yellow {
        bottom: -40px;
        left: -150px;
        transform: rotate(0);
        background: linear-gradient(314deg, #66eba9 0%, #fa5561 100%);
      }
      &._pink {
        right: unset;
        top: -50px;
        bottom: unset;
        left: -150px;
        background: linear-gradient(158deg, #66eba9, #6381fd, #ce4fba, #fa5561);
      }
    }
  }
  &--rtl {
    .autoContainer {
      // padding: 0 0 0 60px;
    }
  }
}
.achievement {
  padding: 100px 0;
  &__inner {
    padding: 60px 40px;
    border-radius: 40px;
    background: rgba($black, 0.4);
    position: relative;
    overflow: hidden;
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      max-width: 1040px;
      margin: 0 auto;
    }
  }
  &Item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    &__image {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__box {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;
      h4 {
        font-weight: 500;
      }
      h5 {
        color: rgba($white, 0.5);
        font-weight: 400;
      }
    }
  }
  .bubles {
    &__shape {
      opacity: 0.7;
      &._pink {
        right: -100px;
        top: unset;
        bottom: -50px;
        background: linear-gradient(243deg, #66eba9, #6381fd, #ce4fba, #fa5561);
      }
      &._yellow {
        top: unset;
        right: unset;
        left: -150px;
        bottom: -70px;
        background: linear-gradient(203deg, #66eba9 0%, #fa5561 100%);
      }
    }
  }
}
.benefits {
  padding: 100px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-images {
      width: calc(55% - 15px);
      position: relative;
      .bubles {
        &__shape {
          &._yellow {
            right: unset;
            top: unset;
            bottom: -80px;
            left: -150px;
            background: linear-gradient(282deg, #66eba9 0%, #fa5561 100%);
          }
        }
      }
    }
    &-content {
      width: calc(45% - 15px);
      max-width: 565px;
      display: flex;
      flex-direction: column;
      gap: 38px;
    }
  }
  &Image {
    &._lg {
      .ratioImage {
        border-radius: 0 98px 35px 0;
        overflow: hidden;
      }
    }
    &._sm {
      position: absolute;
      top: -36px;
      left: 26px;
      z-index: 2;
      width: 35%;
      max-width: 240px;
      .ratioImage {
        border-radius: 24px;
        img {
          border-radius: inherit;
          &:nth-child(2) {
            opacity: 0.4;
            z-index: -1;
            filter: blur(33px);
          }
        }
      }
    }
    &._extra-sm {
      position: absolute;
      right: 55px;
      bottom: -30px;
      z-index: 2;
      width: 30%;
      max-width: 180px;
      border-radius: 24px;
      .ratioImage {
        border-radius: 24px;
      }
      img {
        border-radius: inherit;
        &:nth-child(2) {
          opacity: 0.4;
          z-index: -1;
          filter: blur(33px);
        }
      }
    }
  }
  .autoContainer {
    padding: 0 60px 0 0;
    max-width: 1440px;
  }
}
.wrapper {
  position: relative;
  &__bg {
    position: absolute;
    width: 100%;
    height: 654px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: rgba(0, 0, 0, 0.74);
      backdrop-filter: blur(15px);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  }
}
.price {
  padding: 100px 0;
  position: relative;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-content {
      width: calc(55% - 15px);
      display: flex;
      flex-direction: column;
      gap: 64px;
      p {
        color: rgba($white, 0.7);
        max-width: 545px;
      }
    }
    &-tools {
      padding-bottom: 42px;
      border-bottom: 1px solid $black-3;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &-body {
      max-width: 580px;
    }
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-image {
      width: calc(45% - 15px);
      .ratioImage {
        padding-bottom: 135%;
      }
    }
    &-group {
      &-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 46px 0 42px;
        h5 {
          color: $white-2;
          font-weight: 500;
          letter-spacing: -0.48px;
          &._lg {
            color: $white;
            font-weight: 700;
          }
        }
      }
      .button {
        padding: 0.87em 1.2em;
        width: 100%;
      }
    }
    &-box {
      display: flex;
      flex-direction: column;
      gap: 18px;
    }
  }
}

@mixin index-1025 {
  .hero {
    .video {
      width: 240px;
      &__box {
        &-button {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
  .sponsors {
    &__inner {
      gap: 150px;
      &-image {
        height: 110px;
      }
      &-row {
        gap: 70px;
        padding: 0 40px;
      }
    }
    &Item {
      &__image {
        width: 140px;
        height: 30px;
      }
    }
  }
}
@mixin index-940 {
  .hero {
    padding-top: 200px;
    &__inner {
      gap: 70px;
    }
    .video {
      width: 220px;
      right: 0;
      &__box {
        &-button {
          width: 65px;
          height: 65px;
        }
      }
    }
  }
  .sponsors {
    &__inner {
      gap: 130px;
      &-image {
        height: 100px;
      }
      &-row {
        gap: 60px;
        padding: 0 30px;
      }
    }
    &Item {
      &__image {
        width: 130px;
        height: 27px;
      }
    }
  }
}
@mixin index-840 {
  .hero {
    padding-top: 170px;
    &__inner {
      gap: 60px;
    }
    .video {
      width: 200px;
      &__box {
        &-button {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
@mixin index-768 {
  .hero {
    padding-top: 150px;
    &__inner {
      gap: 40px;
    }
    .video {
      width: 160px;
      &__box {
        &-button {
          width: 55px;
          height: 55px;
        }
      }
    }
  }
  .sponsors {
    &__inner {
      gap: 100px;
      &-image {
        height: 90px;
      }
      &-row {
        gap: 50px;
      }
    }
    &Item {
      &__image {
        width: 130px;
        height: 25px;
      }
    }
  }
}
@mixin index-668 {
  .hero {
    padding-top: 135px;
    &__inner {
      &-tabs {
        display: none;
      }
    }
    .video {
      width: 55px;
      height: 55px;
      &__content {
        display: none;
      }
      &__border {
        display: none;
      }
    }
  }
  .sponsors {
    &__inner {
      gap: 80px;
      &-row {
        gap: 50px;
      }
    }
    &Item {
      &__image {
        width: 125px;
        height: 23px;
      }
    }
  }
}
@mixin index-550 {
  .hero {
    &__bg {
      &-image {
        &._sm {
          width: 90%;
        }
      }
    }
  }
}
@mixin index-390 {
  .hero {
    padding-top: 120px;
  }
}
