
.icon-clipboardtext:before { content: '\e800'; } /* '' */
.icon-clipboardtick:before { content: '\e801'; } /* '' */
.icon-devices:before { content: '\e802'; } /* '' */
.icon-diagram:before { content: '\e803'; } /* '' */
.icon-eye:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-profile2user:before { content: '\e806'; } /* '' */
.icon-receiptitem:before { content: '\e807'; } /* '' */
.icon-truckfast:before { content: '\e808'; } /* '' */
.icon-car:before { content: '\e809'; } /* '' */
.icon-cardano:before { content: '\e80a'; } /* '' */
.icon-category2:before { content: '\e80b'; } /* '' */
.icon-icon-1:before { content: '\e80c'; } /* '' */
.icon-icon-4:before { content: '\e80d'; } /* '' */
.icon-icon-5:before { content: '\e80e'; } /* '' */
.icon-icon-3:before { content: '\e80f'; } /* '' */
.icon-icon-8:before { content: '\e810'; } /* '' */
.icon-icon-7:before { content: '\e811'; } /* '' */
.icon-icon-6:before { content: '\e812'; } /* '' */
.icon-icon-2:before { content: '\e813'; } /* '' */
.icon-arrow-right:before { content: '\e814'; } /* '' */
.icon-arrow-left:before { content: '\e815'; } /* '' */
.icon-printer:before { content: '\e817'; } /* '' */
.icon-documenttext:before { content: '\e818'; } /* '' */
.icon-copy:before { content: '\e819'; } /* '' */
.icon-down-open:before { content: '\e81f'; } /* '' */
