.main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  &__content {
    padding-left: 250px;
    position: relative;
    height: 100%;
    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba($black, 0.2);
        backdrop-filter: blur(90px);
        z-index: 2;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    &._admin {
      padding-left: 96px;
    }
    &._sidebar {
      padding-left: 368px;
    }
  }
}
.autoContainer {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 60px;
}
.input {
  display: flex;
  width: 100%;
  font-size: 12px;
  input,
  textarea {
    padding: 1.4em 1.6em;
    border-radius: 0.85em;
    width: 100%;
    background-color: rgba($black-4, 0.7);
    border: 1px solid $black-5;
    resize: none;
    transition: 0.3s ease-out;

    //font
    color: $white-3;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    font-size: inherit;
    line-height: 1;
    &::placeholder {
      color: rgba($white-3, 0.4);
    }
    &:focus {
      border-color: rgba($blue, 0.3);
      background-color: rgba($black-4, 0.5);
    }
  }
  &__group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    label {
      font-size: 1em;
      font-weight: 500;
      color: $white;
      line-height: 1;
    }
  }
  &--ico {
    position: relative;
    input {
      padding: 1.4em 4em 1.4em 1.6em;
    }
    .ico {
      width: 1.42em;
      height: 1.42em;
      color: $white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      cursor: pointer;
      svg {
        width: 100%;
        height: 100%;
        stroke: transparent;
        fill: currentColor;
        @include transition;
      }
      &:hover {
        color: $gray-2;
      }
    }
    &._stroke {
      svg {
        stroke: currentColor;
        fill: transparent;
      }
    }
  }
  &--select {
    position: relative;
    &.active {
      .input {
        &__selected {
          border-radius: 3px 3px 0 0;
          &:after {
            transform: rotate(180deg);
          }
        }
        &__dropdown {
          max-height: 500px;
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
  &__selected {
    padding: 1em 2.8em 1em 1.6em;
    border: 1px solid $black-7;
    color: $white;
    font-size: 1em;
    position: relative;
    border-radius: 4px;
    background: $black-8;
    @include transition;
    line-height: 1em;
    font-weight: 500;
    cursor: pointer;
    min-width: 136px;
    text-align: center;
    &::after {
      content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      top: 12px;
      right: 20px;
      background-image: url("../images/dashboard/table/arrow-down.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      @include transition;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &__dropdown {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background: $black-8;
    border: 1px solid $black-7;
    padding: 1em 1.6em 1em 1.6em;
    border-top: unset;
    border-radius: 0 0 3px 3px;
    @include transition;
    max-height: 0;
    pointer-events: none;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &-item {
      font-size: 1em;
      line-height: 1em;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.95em 1.2em;
  border: 1px solid transparent;

  color: $white;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  transition: all 0.3s ease;
  font-family: $font-primary;

  &--primary {
    display: flex;
    position: relative;
    border-radius: 88px;
    min-width: 132px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      border: 2px solid transparent;
      background: $gradient border-box;
      -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
      pointer-events: none;
    }
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      background: $gradient;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: inherit;
      opacity: 0.2;
      opacity: 0;
      transition: all 0.3s ease;
      pointer-events: none;
    }
    span {
      color: $white;
      position: relative;
      z-index: 2;
    }
    &._lg {
      gap: 24px;
      padding: 1.1em 1.14em 1.1em 2em;
      .ico {
        height: 1.42em;
      }
    }
    &._extra {
      font-size: 18px;
      padding: 1em 2.4em;
    }
    &._extra-lg {
      font-size: 18px;
      padding: 1em 2em;
    }
    &:hover {
      &:after {
        opacity: 0.1;
      }
    }
  }
  &--secondary {
    font-size: 24px;
    background: $gradient;
    border-radius: 88px;
    border: unset;
    padding: 0.87em 1.2em;

    &:hover {
      opacity: 0.8;
      background-size: 150% 100%;
      background-position: 20%;
    }
  }
  &--text {
    padding: 1em 1.5em;
    font-weight: 400;
    position: relative;
    color: $white;
    border-color: $white;
    border-radius: 40px;
    &:hover {
      background: rgba($white, 0.05);
    }
  }
  &--social {
    gap: 10px;
    font-weight: 500;
    padding: 1.15em 1.4em;
    border-color: $black-6;
    border-radius: 0.85em;
    .ico {
      width: 1.14em;
      height: 1.14em;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      svg {
        width: 100%;
        height: 100%;
        fill: currentColor;
      }
    }
    &:hover {
      background: rgba($black-6, 0.2);
    }
  }
  &--ico {
    background-color: $black-4;
    border: 1px solid $black;
    border-radius: 15px;
    padding: 0.8em;
    .ico {
      width: 1.7em;
      height: 1.7em;
      transition: all 0.3s ease;
    }
    &:hover {
      border-color: rgba($white, 0.2);
      .ico {
        opacity: 0.7;
      }
    }
  }
  &:active {
    opacity: 0.7;
  }
  &:disabled {
    cursor: default;
    opacity: 0.5 !important;
  }
}
.ratioImage {
  position: relative;
  padding-bottom: 65%;
  width: 100%;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &--contain {
    img {
      object-fit: contain;
    }
  }
}
.badge {
  border-radius: 100px;
  padding: 0.3em 0.5em;

  color: $black;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
}
.checkbox {
  display: inline-flex;
  position: relative;
  font-size: 18px;
  z-index: 0;

  input {
    width: 1em;
    height: 1em;
    z-index: 1;
    font-size: inherit;
    opacity: 0;

    &:checked + span::before {
      border-color: $black;
    }
  }
  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1.5px solid $black;
      box-sizing: border-box;
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 40%;
      left: 50%;
      width: 0.25em;
      height: 0.5em;
      border-bottom: 1.5px solid rgba($black, 0.2);
      border-right: 1.5px solid rgba($black, 0.2);
      transition: 0.1s ease;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &__outer {
    display: flex;
    align-items: center;

    label {
      color: $black;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.4;
      margin-left: 0.7em;

      a {
        color: inherit;
        font-style: normal;
        font-weight: 400;
        font-size: inherit;
        text-decoration: underline;
        transition: 0.3s ease;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
.custIcon {
  position: relative;
  display: inline-block;
  font-size: 16px;
  height: 0.8em;
  width: 0.8em;
  color: inherit;

  &--left {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      height: 75%;
      background: transparent;
      border-left: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      transform: translate(-25%, -50%) rotate(45deg);
    }
  }
  &--rtArr {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      height: 75%;
      background: transparent;
      border-right: 2px solid currentColor;
      border-top: 2px solid currentColor;
      transform: translate(-50%, -50%);
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background: currentColor;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &--right {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      height: 75%;
      background: transparent;
      border-right: 2px solid currentColor;
      border-top: 2px solid currentColor;
      transform: translate(-75%, -50%) rotate(45deg);
    }
  }
  &--up {
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      border-bottom: 5px solid #7b8a8a;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease-in-out;
    }
  }
  &--down {
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      border-top: 5px solid #7b8a8a;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease-in-out;
    }
  }
  &--cross {
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 100%;
      background: $black;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &--tick {
    margin-right: 5px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 45%;
      height: 80%;
      border-bottom: 2px solid $black;
      border-right: 2px solid $black;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  &--dots {
    font-size: 5px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: $black;
    transition: 0.2s ease-in;
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background: inherit;
      transition: 0.2s ease-in;
    }
    &:before {
      left: calc(100% + 0.75em);
    }
    &:after {
      right: calc(100% + 0.75em);
    }
    &.active {
      width: 4.5em;
      border-radius: 2px;
      &:before,
      &:after {
        opacity: 0;
      }
    }
  }
  &--rounded {
    font-size: inherit;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: $primary;

    &:after {
      top: 45%;
      width: 25%;
      height: 50%;
      border-color: $black;
    }
  }
}
.noBreak {
  white-space: nowrap;
}
.text {
  font-size: inherit;
  line-height: 1.2em;
  -webkit-text-fill-color: transparent;
  &--gradient {
    background: $gradient;
    -webkit-background-clip: text;
  }
  &--gradient-1 {
    background: $gradient-2;
    -webkit-background-clip: text;
  }
  &--gradient-2 {
    background: $gradient-3;
    -webkit-background-clip: text;
  }
  &--secondary {
    color: $secondary;
  }
}
.logo {
  font-size: 32px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  @include transition;
  &:hover {
    opacity: 0.7;
  }
  &__image {
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .text {
    font-weight: 700;
  }
  &--lg {
    flex-direction: column;
    gap: 14px;
    font-size: 22px;
    .logo__image {
      width: 4.1em;
      height: 4.1em;
    }
  }
}
.ico {
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
  &._stroke {
    svg {
      fill: transparent;
      stroke: currentColor;
    }
  }
}
.toggle {
  display: flex;
  align-items: center;
  gap: 12px;
  &__body {
    display: flex;
    align-items: center;
  }
  &__switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 24px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .toggle__switch-slider:before {
        transform: translate(15px, -50%);
      }
    }
    &-slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $black-2;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 70px;
      &:before {
        position: absolute;
        content: "";
        height: 17px;
        width: 17px;
        left: 3px;
        top: 50%;
        background-color: $secondary;
        transition: 0.4s;
        transform: translate(0, -50%);
        border-radius: 50%;
      }
    }
  }
  &__text {
    font-size: 16px;
    font-weight: 500;
    color: $white-2;
    &.active {
      color: $white;
    }
  }
}
.range {
  position: relative;
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 16px;

    &::-webkit-slider-runnable-track {
      height: 12px;
      background: $black-3;
      border-radius: 50px;
      overflow: hidden;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 2px;
      width: 2px;
      background: $gradient;
      border-radius: 50%;
      box-shadow: -1000px 0 0 990px $secondary;
    }
  }
  &__line {
    position: relative;
    display: flex;
    &-button {
      position: absolute;
      top: 50%;
      left: 0;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background: $gradient;
      transform: translate(-50%, -50%) rotate(30deg);
      pointer-events: none;
    }
  }
  &__info {
    bottom: 0;
    left: 50%;
    position: absolute;
    padding: 13px 20px;
    border-radius: 7px;
    background: rgba($black, 0.5);
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    transform: translateX(-50%);
    line-height: 1em;
    span {
      position: relative;
      z-index: 2;
    }
    .bubles {
      @include transition;
      z-index: 0;
      &__shape {
        opacity: 1;
        width: 70px;
        height: 70px;
        &._pink {
          right: -50%;
          top: 50%;
          bottom: 0;
          background: linear-gradient(
            243deg,
            #66eba9,
            #6381fd,
            #ce4fba,
            #fa5561
          );
          transform: translate(0, -50%);
          filter: blur(50px);
        }
        &._yellow {
          top: 50%;
          right: unset;
          left: -50%;
          background: linear-gradient(54deg, #66eba9 0%, #fa5561 100%);
          transform: translate(0, -50%);
          filter: blur(50px);
        }
      }
    }
  }
  padding-bottom: 66px;
}
.bubles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  pointer-events: none;
  &__shape {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 400px;
    background: linear-gradient(215deg, #66eba9, #6381fd, #ce4fba, #fa5561);

    filter: blur(200px);
    opacity: 0.5;
    &._yellow {
      background: $gradient-4;
    }
  }
}
.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h6 {
    color: $secondary;
  }
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  position: relative;
  z-index: 2;
  &__item {
    position: relative;
    background: rgba($black, 0.5);
    border-radius: 18px;
    padding: 1.1em 1.3em;
    overflow: hidden;
    line-height: 1.6em;
    cursor: pointer;
    &.active {
      .bubles {
        opacity: 1;
      }
    }
  }
  .bubles {
    @include transition;
    opacity: 0;
    &__shape {
      opacity: 0.4;
      width: 300px;
      height: 300px;
      filter: blur(100px);
      &._pink {
        right: -200px;
        top: unset;
        bottom: -150px;
        background: linear-gradient(243deg, #66eba9, #6381fd, #ce4fba, #fa5561);
      }
      &._yellow {
        top: unset;
        right: unset;
        left: -200px;
        bottom: -150px;
        background: linear-gradient(126deg, #66eba9 0%, #fa5561 100%);
      }
    }
  }
}
.blurredPolygon {
  display: inline-block;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(5px);

    clip-path: polygon(
      50% 0%,
      85% 15%,
      100% 50%,
      85% 85%,
      50% 100%,
      15% 85%,
      0% 50%,
      15% 15%
    );
  }
}

@mixin components-1280 {
  .list {
    font-size: 16px;
  }
}
@mixin components-1160 {
  .button {
    &--primary {
      &._extra {
        font-size: 16px;
      }
      &._extra-lg {
        font-size: 16px;
      }
    }
  }
}
@mixin components-1025 {
  .button {
    &--primary {
      min-width: 120px;
      &._extra {
        font-size: 14px;
      }
      &._extra-lg {
        font-size: 14px;
      }
    }
    &--secondary {
      font-size: 20px;
    }
  }
  .logo {
    font-size: 30px;
    &--lg {
      font-size: 20px;
    }
  }
  .list {
    font-size: 14px;
  }
  .toggle {
    font-size: 13px;
  }
}
@mixin components-840 {
  .button {
    font-size: 12px;
    &--primary {
      min-width: 100px;
      &._lg {
        gap: 15px;
      }
      &._extra {
        font-size: 12px;
      }
      &._extra-lg {
        font-size: 12px;
      }
    }
    &--secondary {
      font-size: 20px;
    }
  }
  .logo {
    font-size: 28px;
    &--lg {
      font-size: 19px;
    }
  }
}
@mixin components-768 {
  .logo {
    font-size: 26px;
    &--lg {
      font-size: 18px;
    }
  }
}
@mixin components-668 {
  .button {
    border-radius: 61px;
    &--primary {
      &::before {
        border: 1px solid transparent;
      }
    }
  }
  .logo {
    font-size: 24px;
    &--lg {
      font-size: 16px;
    }
  }
  .bubles {
    &__shape {
      filter: blur(200px);
      width: 350px;
      height: 350px;
    }
  }
  .list {
    .bubles {
      @include transition;
      // opacity: 0;
      &__shape {
        opacity: 1;
        width: 150px;
        height: 150px;
        filter: blur(50px);
        opacity: 0.3;
        &._pink {
          right: -70px;
          top: unset;
          bottom: -50px;
        }
        &._yellow {
          top: unset;
          right: unset;
          left: -50px;
          bottom: -50px;
        }
      }
    }
  }
}
@mixin components-460 {
  .toggle {
    &__text {
      font-size: 14px;
    }
  }
}
@mixin components-390 {
  .button {
    font-size: 10px;
    min-width: 92px;
    padding: 0.99em 1.2em;
    &--primary {
      &._lg {
        padding: 1em 1.14em 1em 2em;
        line-height: 1.1em;
      }
      &._extra {
        padding: 1em;
      }
      &._extra-lg {
      }
    }
    &--secondary {
      font-size: 17px;
      padding: 0.87em 1.2em;
    }
  }
  .logo {
    font-size: 22px;
    &--lg {
      font-size: 15px;
    }
  }
  .list {
    font-size: 12px;
  }
  .range {
    padding-bottom: 45px;
    &__line {
      &-button {
        width: 24px;
        height: 24px;
      }
    }
    &__info {
      font-size: 12px;
      padding: 9px 14px;
      .bubles {
        &__shape {
          width: 100px;
          height: 100px;
          opacity: 0.4;
          &._yellow {
            filter: blur(30px);
            left: -70px;
          }
          &._pink {
            right: -70px;
            filter: blur(30px);
          }
        }
      }
    }
    input[type="range"] {
      &::-webkit-slider-runnable-track {
        height: 6px;
      }
    }
  }
  .toggle {
    gap: 8px;
    &__text {
      font-size: 12px;
    }
    &__switch {
      width: 25px;
      height: 16px;
      border-radius: 49px;
      &-slider {
        &::before {
          width: 11px;
          height: 11px;
          left: 2px;
        }
      }
      input {
        &:checked + .toggle__switch-slider:before {
          transform: translate(10px, -50%);
        }
      }
    }
  }
}
