/// section footer
.footer {
  padding: 100px 0 20px;
  &__inner {
    padding: 70px 80px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background: rgba($black, 0.5);
    overflow: hidden;
    &-row {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    &-column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
    }
    &-link {
      color: $gray;
      @include transition;
      position: relative;
      font-size: 18px;
      font-weight: 400;
      line-height: 1em;
      &:after {
        content: "";
        width: 0;
        height: 1px;
        background: $white;
        position: absolute;
        left: 0;
        bottom: -5px;
        @include transition;
        opacity: 0;
      }
      &:hover {
        color: $white;
        &:after {
          width: 100%;
          opacity: 1;
        }
      }
    }
    &-copy {
      color: $gray;
      font-size: 18px;
      font-weight: 400;
    }
  }
  .bubles {
    &__shape {
      width: 500px;
      height: 500px;
      opacity: 0.8;
      &._pink {
        right: -100px;
        top: -100px;
        background: linear-gradient(243deg, #66eba9, #6381fd, #ce4fba, #fa5561);
      }
      &._yellow {
        top: unset;
        right: unset;
        left: -250px;
        bottom: -250px;
        background: linear-gradient(203deg, #66eba9 0%, #fa5561 100%);
      }
    }
  }
  .logo {
    margin-bottom: 32px;
  }
  .autoContainer {
    padding: 0 20px;
  }
}

@mixin footer-1160 {
  .footer {
    padding-top: 80px;
  }
}
@mixin footer-1025 {
  .footer {
    &__inner {
      padding: 60px;
    }
  }
}
@mixin footer-940 {
  .footer {
    padding-top: 60px;
    &__inner {
      padding: 45px;
      &-column {
        gap: 28px;
      }
      &-link {
        font-size: 16px;
      }
      &-copy {
        font-size: 16px;
      }
    }
    .logo {
      margin-bottom: 25px;
    }
  }
}
@mixin footer-768 {
  .footer {
    &__inner {
      padding: 30px;
      &-column {
        gap: 22px;
      }
      &-link {
        font-size: 14px;
      }
      &-copy {
        font-size: 14px;
      }
    }
  }
}
@mixin footer-668 {
  .footer {
    padding-top: 50px;
    &__inner {
      padding: 26px;
      border-radius: 13px;
      flex-direction: column;
      gap: 64px;
      &-row {
        flex-wrap: wrap;
        gap: 68px 30px;
      }
      &-column {
        width: calc(50% - 15px);
      }
    }
    .logo {
      margin-bottom: 0;
    }
    .autoContainer {
      padding: 0 10px;
    }
    .footer{
      &__shape{
        
      }
    }
  }
}
@mixin footer-390 {
  .footer {
    &__inner {
      &-row {
      }
      &-column {
        // width: calc(50% - 10px);
        width: fit-content;
      }
      &-link {
        font-size: 12px;
      }
      &-copy {
        font-size: 12px;
      }
    }
  }
}
