@media (max-width: 1280px) {
  @include typography-1280;
  @include components-1280;
  @include header-1280;
  @include index-1280;
}
@media (max-width: 1160px) {
  .autoContainer {
    padding: 0 40px;
  }
  @include typography-1160;
  @include components-1160;
  @include index-1160;
  @include footer-1160;
}
@media (max-width: 1025px) {
  .autoContainer {
    padding: 0 30px;
  }
  @include typography-1025;
  @include components-1025;
  @include header-1025;
  @include index-1025;
  @include footer-1025;

}
@media (max-width: 940px) {
  .autoContainer {
    padding: 0 30px;
  }
  @include typography-940;
  @include index-940;
  @include footer-940;
}
@media (max-width: 840px) {
  @include typography-840;
  @include components-840;
  @include header-840;
  @include index-840;
}
@media (max-width: 768px) {
  @include typography-768;
  @include components-768;
  @include index-768;
  @include footer-768;
}
@media (max-width: 668px) {
  @include components-668;
  @include header-668;
  @include index-668;
  @include footer-668;
}
@media (max-width: 550px) {
  @include header-550;
  @include index-550;
}
@media (max-width: 460px) {
  @include components-460;
  @include index-460;
}
@media (max-width: 390px) {
  @include typography-390;
  @include components-390;
  @include index-390;
  @include footer-390;
}
